.lessonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Два столбца */
  gap: 10px; /* Промежуток между колонками */
}


.linkActive {
  padding: 8px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
}

.linkActive:hover {
  background-color: #90c3ec;
}