.myButton {
    margin: 5px;
}
.primary {
    background-color: #6abbe7 ;
}
.danger {
    background-color: #e0766f;
}
.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: rgb(124,124,124);
}
