.container{
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.foxWraper {

  width: 350px;
  height: 350px;
  overflow: hidden;
  border: 4px dashed orange;
  margin-bottom: 15px;

}

.foxWraper>img {
  
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}